# Red leds
set_io oslv_data_debug[4] 99
set_io oslv_data_debug[5] 98
set_io oslv_data_debug[6] 97
set_io oslv_data_debug[7] 96

# Green led
set_io oslv_data_debug[3] 95

# IrDA
#set_io IrDA_TX 105
#set_io IrDA_RX 106

# FTDI Port B UART
set_io osl_data 8  # UART TX
set_io isl_data 9  # UART RX

# 12 MHz clock
set_io isl_clk 21
